backports.entry-points-selectable==1.1.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.3
clipboard==0.0.4
colorama==0.4.4
distlib==0.3.3
filelock==3.3.0
Flask==2.0.2
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.6.3
MarkupSafe==2.0.1
MouseInfo==0.1.3
numpy==1.21.2
opencv-python==4.5.3.56
pi==0.1.2
Pillow==8.3.2
platformdirs==2.4.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyJWT==2.3.0
PyMsgBox==1.0.9 
pyodbc==4.0.32
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
pytesseract==0.3.8
PyTweening==1.0.3
pytz==2021.3
random2==1.0.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
twilio==7.6.0
urllib3==1.26.5
virtualenv==20.8.1
Werkzeug==2.0.2
yapf==0.31.0
