{% extends "base.html" %}
{% block content %}
<!--==================== CONTACT ME ====================-->
<section class="contact section" id="contact">
    <h2 class="section__title">Contact-Me</h2>
    <span class="section__subtitle">Get In Touch</span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <i class="uil uil-facebook contact__icon"></i>
                <div>
                    <h3 class="contact__title">Facebook</h3>
                    <a class="contact__subtitle" target="_blank"
                        href="https://www.facebook.com/gustavo.juvencio.7">Gustavo Juvencio</a>
                </div>
            </div>
            <div class="contact__information">
                <i class="uil uil-whatsapp contact__icon"></i>
                <div>
                    <h3 class="contact__title">WhatsApp</h3>
                    <a class="contact__subtitle" target="_blank"
                        href="http://api.whatsapp.com/send?1=pt_BR&phone=5511953637694">(11) 95363-7694</a>
                </div>
            </div>
            <div class="contact__information">
                <i class="uil uil-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Email</h3>
                    <a class="contact__subtitle" target="_blank"
                        href="https://mail.google.com/mail/u/0/#inbox?compose=new">gustavo.juvencio10@gmail.com</a>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-instagram contact__icon"></i>

                <div>
                    <h3 class="contact__title">Instagram</h3>
                    <a class="contact__subtitle" target="_blank"
                        href="https://www.instagram.com/direct/inbox/">@meninojuvs</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}