<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css')}}">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <title>Gustavo - Portfolio</title>
</head>

<body>
    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Gustavo</h1>
                    <span class="footer__subtitle">Frontend developer</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="/services" class="footer__link">Services</a>
                    </li>
                    <li>
                        <a href="/portfolio" class="footer__link">Portfolio</a>
                    </li>
                    <li>
                        <a href="/contacts" class="footer__link">Contact-me</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://web.telegram.org" target="_blank" class="footer__social">
                        <i class="uil uil-telegram-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Copyright Gustavo Juvencio.</p>
        </div>
    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== MIXITUP FILTER ====================-->
    <script src="{{ url_for('static', filename='js/mixitup.min.js')}}"></script>

    <!--==================== SWIPER JS ====================-->
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/typed.js/typed.min.js')}}"></script>

    <!--==================== MAIN JS ====================-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>