<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <p>Homepage</p>
        <input type="text" id="nome" name="nome" placeholder="Nome:" autocomplete="on">
        <br>
        <p></p>
        <input type="button" value="Enviar" onclick="teste()">
    </form>
</body>

<script>
    function teste() {

        var name = document.getElementById("nome").value;

        var mensagem = "";
        if (name == "") {
            mensagem =
                mensagem +
                "\n Para prosseguir preencha todos os campos abaixo: \n Nome \n";
        }

        if (mensagem != "") {
            alert(mensagem);
        } else {
            alert("Cadastrado com Sucesso!!");
            var input = document.getElementById("nome");
            var texto = input.value;

            window.location.href = ('/users/' + texto)
        }


    }
</script>

</html>