<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css')}}">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <title>Gustavo - Portfolio</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">Gustavo</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> About
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/skills" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> Skills
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/services" class="nav__link">
                            <i class="uil uil-briefcase-alt nav__icon"></i> Services
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/portfolio" class="nav__link  active-link">
                            <i class="uil uil-scenery nav__icon"></i> Portfolio
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/contacts" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contact-me
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>
            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== PORTFOLIO ====================-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section__title">Portfolio</h2>
            <span class="section__subtitle">Most Recent Work</span>

            <div class="portfolio__container container swiper-container">
                <div class="swiper-wrapper">
                    <!--==================== PORTFOLIO 1====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="{{ url_for('static', filename='img/portfolio1.jpg')}}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Modern Website</h3>
                            <p class="portfolio__description">Website adaptable to all devices, with ui components and
                                animated interactions.</p>
                            <a href="#" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                    <!--==================== PORTFOLIO 2====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="{{ url_for('static', filename='img/portfolio2.jpg')}}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Brand Designer</h3>
                            <p class="portfolio__description">Website adaptable to all devices, with ui components and
                                animated interactions.</p>
                            <a href="#" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                    <!--==================== PORTFOLIO 3====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="{{ url_for('static', filename='img/portfolio3.jpg')}}" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Online Store</h3>
                            <p class="portfolio__description">Website adaptable to all devices, with ui components and
                                animated interactions.</p>
                            <a href="#" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
                </div>

                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <section class="testimonial section">
                <!--==================== TESTIMONIAL ====================-->
                <h2 class="section__title">Testimonial</h2>
                <span class="section__subtitle">My Client Saying</span>

                <div class="testimonial__container container swiper-container">
                    <div class="swiper-wrapper">
                        <!--==================== TESTIMONIAL 1====================-->
                        <div class="testimonial__content swiper-slide">
                            <div class="testimonial__data">
                                <div class="testimonial__header">
                                    <img src="{{ url_for('static', filename='img/testimonial1.jpg')}}" alt=""
                                        class="testimonial__img">

                                    <div>
                                        <h3 class="testimonial__name">Sara Smith</h3>
                                        <span class="testimonial__client">Client</span>
                                    </div>
                                </div>
                                <div>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                </div>
                            </div>

                            <p class="testimonial__description">I get a good impression, I carry out my project with all
                                the
                                possible quality and attention and support 24 hours a day.</p>
                        </div>

                        <!--==================== TESTIMONIAL 2====================-->
                        <div class="testimonial__content swiper-slide">
                            <div class="testimonial__data">
                                <div class="testimonial__header">
                                    <img src="{{ url_for('static', filename='img/testimonial2.jpg')}}" alt=""
                                        class="testimonial__img">

                                    <div>
                                        <h3 class="testimonial__name">Matt Smith</h3>
                                        <span class="testimonial__client">Client</span>
                                    </div>
                                </div>

                                <div>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                </div>
                            </div>

                            <p class="testimonial__description">I get a good impression, I carry out my project with all
                                the
                                possible quality and attention and support 24 hours a day.</p>
                        </div>

                        <!--==================== TESTIMONIAL 3====================-->
                        <div class="testimonial__content swiper-slide">
                            <div class="testimonial__data">
                                <div class="testimonial__header">
                                    <img src="{{ url_for('static', filename='img/testimonial3.jpg')}}" alt=""
                                        class="testimonial__img">

                                    <div>
                                        <h3 class="testimonial__name">Raul Smith</h3>
                                        <span class="testimonial__client">Client</span>
                                    </div>
                                </div>

                                <div>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                    <i class="uil uil-star testimonial__icon-star"></i>
                                </div>
                            </div>
                            <p class="testimonial__description">I get a good impression, I carry out my project with all
                                the
                                possible quality and attention and support 24 hours a day.</p>
                        </div>
                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-testimonial"></div>
                </div>
            </section>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Gustavo</h1>
                    <span class="footer__subtitle">Frontend developer</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="/services" class="footer__link">Services</a>
                    </li>
                    <li>
                        <a href="/portfolio" class="footer__link">Portfolio</a>
                    </li>
                    <li>
                        <a href="/contacts" class="footer__link">Contactme</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://web.telegram.org" target="_blank" class="footer__social">
                        <i class="uil uil-telegram-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Copyright Gustavo Juvencio.</p>
        </div>
    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== SWIPER JS ====================-->
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/typed.js/typed.min.js')}}"></script>

    <!--==================== MAIN JS ====================-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>