{% extends "base.html" %}
{% block content %}
    <!--==================== WORK ====================-->
    <section class="work section" id="work">
        <h2 class="section__title">Recent Works</h2>
        <span class="section__subtitle">My Portfolio</span>

        <div class="work__filters">
            <span class="work__item active-work" data-filter='all'>All</span>
            <span class="work__item" data-filter='.web'>Web</span>
            <span class="work__item" data-filter='.movil'>Movil</span>
            <span class="work__item" data-filter='.design'>Design</span>
        </div>

        <div class="work__container container grid">
            <div class="work__card mix web">
                <img src="{{ url_for('static', filename='img/work1.jpg')}}" alt="" class="work__img">

                <h3 class="work__title">Web Design</h3>

                <a href="#" class="work__button">
                    Demo <i class="uil uil-angle-double-right work__icon"></i>
                </a>
            </div>

            <div class="work__card mix movil">
                <img src="{{ url_for('static', filename='img/work2.jpg')}}" alt="" class="work__img">

                <h3 class="work__title">App Movil</h3>

                <a href="#" class="work__button">
                    Demo <i class="uil uil-angle-double-right work__icon"></i>
                </a>
            </div>

            <div class="work__card mix design">
                <img src="{{ url_for('static', filename='img/work3.jpg')}}" alt="" class="work__img">

                <h3 class="work__title">Brand Design</h3>

                <a href="#" class="work__button">
                    Demo <i class="uil uil-angle-double-right work__icon"></i>
                </a>
            </div>

            <div class="work__card mix web">
                <img src="{{ url_for('static', filename='img/work4.jpg')}}" alt="" class="work__img">

                <h3 class="work__title">Web Design</h3>

                <a href="#" class="work__button">
                    Demo <i class="uil uil-angle-double-right work__icon"></i>
                </a>
            </div>

            <div class="work__card mix movil">
                <img src="{{ url_for('static', filename='img/work5.jpg')}}" alt="" class="work__img">

                <h3 class="work__title">App Movil</h3>

                <a href="#" class="work__button">
                    Demo <i class="uil uil-angle-double-right work__icon"></i>
                </a>
            </div>
        </div>
    </section>
{% endblock %}